@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
  line-height: 18px;
  background: url("../../images/cubes.png");
  background-repeat: repeat; }

p {
  font-size: 1.7rem;
  line-height: calc(1.7rem * 1.5); }

h1 {
  font-size: 4rem;
  line-height: calc(4rem * 1.5);
  text-align: center; }

h2 {
  font-size: 2.5rem;
  line-height: calc(2.5rem * 1.5); }

h3 {
  font-size: 2rem;
  line-height: calc(2rem * 1.5); }

a {
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: underline; }

a:active {
  text-decoration: none; }

.gold-text {
  color: #c28e0e;
  font-weight: bold; }

.top-gold {
  background: #c28e0e;
  height: 35px; }

.top-black {
  background: #222;
  height: 100px; }

.section-container {
  width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0; }

.section-content {
  width: 70%; }

.purpose-image {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .purpose-image-img {
    display: block;
    width: 250px;
    height: 150px; }

.purpose-container .section-content {
  width: 100%;
  text-align: center; }

.survey {
  background: #fff;
  padding: 20px 0; }
  .survey-link {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 25px; }
    .survey-link-btn {
      background: #136f63;
      color: #eee;
      font-size: 2rem;
      font-weight: 500;
      border: none;
      border-radius: 100px;
      width: 150px;
      height: 150px;
      cursor: pointer; }
      .survey-link-btn:hover, .survey-link-btn:focus {
        transition: 0.3s;
        background: #0c4c44;
        color: #fff; }
      .survey-link-btn:active {
        background: #072c27; }

.message-container {
  padding: 20px 40px;
  flex-direction: column; }

.message .section-content {
  width: 100%; }

.resources {
  background: white;
  padding: 20px 50px; }
  .resources-content {
    text-align: center; }
  .resources-sections {
    display: flex;
    justify-content: space-between;
    align-content: center; }
    .resources-sections-section {
      margin: 5px;
      width: 30%;
      padding: 5px 15px;
      background: #0081af; }
      .resources-sections-section-head {
        height: 100px;
        text-align: center;
        color: white; }
      .resources-sections-section-p {
        font-size: 1.5rem;
        line-height: calc(1.5rem * 1.5);
        text-align: center;
        color: white; }
