@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: calc(13px * 1.4);
  background: url("../../images/cubes.png");
  background-repeat: repeat; }
  @media screen and (min-width: 600px) {
    html, body {
      font-size: 14px;
      line-height: calc(14px * 1.4); } }
  @media screen and (min-width: 1000px) {
    html, body {
      font-size: 16px;
      line-height: calc(16px * 1.4); } }

main {
  width: 100vw;
  min-height: 100vh; }

p {
  font-size: 1.4rem;
  line-height: calc(1.4rem * 1.5);
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.7rem;
  line-height: calc(2.7rem * 1.5);
  text-align: center; }

h2 {
  font-size: 2.4rem;
  line-height: calc(2.4rem * 1.5); }

h3 {
  font-size: 1.9rem;
  line-height: calc(1.9rem * 1.5); }

label {
  font-size: 1.5rem;
  line-height: calc(1.5rem * 1.5); }

a {
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: underline; }

a:active {
  text-decoration: none; }

.gold-text {
  color: #c28e0e; }

.top-gold {
  background: #c28e0e;
  height: 35px; }

.top-black {
  background: #222;
  height: 100px; }

.masthead-container, .purpose-container, .survey-container, .message-container, .resources-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0; }
  @media screen and (max-width: 900px) {
    .masthead-container, .purpose-container, .survey-container, .message-container, .resources-container {
      width: 95vw; } }

.masthead-container {
  height: calc(900px * 7 / 16);
  overflow: hidden; }

.masthead-img {
  width: 100%;
  height: 100%;
  background: url("../../images/bg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start; }

.masthead-title {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  width: 100%;
  text-align: left;
  color: white;
  font-weight: 400;
  background: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.9), #222222); }

.survey {
  background: white; }
  .survey-link {
    cursor: pointer;
    background: #136f63;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    color: white;
    font-size: 2rem;
    border: none;
    border-radius: 100px; }
    .survey-link:hover, .survey-link:focus {
      transition: 0.3s;
      background: #136f63;
      color: white; }
    .survey-link:active {
      background: #136f63; }
    @media screen and (max-width: 900px) {
      .survey-link {
        width: 110px;
        height: 110px; } }

.message {
  background: #136f63;
  color: white; }

.resources-content {
  text-align: center;
  padding: 0 0 20px;
  margin: 0; }

.resources-sections {
  display: block; }
  .resources-sections-section {
    border-radius: 3px; }
    .resources-sections-section-head {
      height: 100px;
      color: #0081af; }
    .resources-sections-section-p {
      color: white;
      padding: 20px 20px; }
    .resources-sections-section-a {
      color: #c28e0e;
      text-decoration: none; }
    .resources-sections-section-a:hover, .resources-sections-section-a:focus {
      text-decoration: underline;
      color: #c28e0e; }

input[type='checkbox'] {
  display: none; }

.lbl-toggle {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #136f63;
  cursor: pointer;
  transition: all 0.25s ease-out;
  margin-bottom: 10px; }

.lbl-toggle:hover {
  color: #c28e0e; }

.lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);
  transition: transform .2s ease-out; }

.collapsible-content .content-inner {
  background: #136f63;
  border-radius: 5px;
  margin-bottom: 25px; }

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out; }

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 1000px; }

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px); }

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.footer {
  height: 100px;
  background: #222; }
