@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import 'vars';

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: calc(14px * 1.4);

    background: url("../../images/cubes.png");
    background-repeat: repeat;

    @media screen and (min-width: 600px) {
        font-size: 15px;
        line-height: calc(15px * 1.4);
    }

    @media screen and (min-width: 1000px) {
        font-size: 17px;
        line-height: calc(17px * 1.4);
    }
}

main {
    width: 100vw;
    min-height: 100vh;
}

p {
    font-size: 1.4rem;
    line-height: calc(1.4rem * 1.5);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.7rem;
    line-height: calc(2.7rem * 1.5);
    text-align: center;
}

h2 {
    font-size: 2.4rem;
    line-height: calc(2.4rem * 1.5);
}

h3 {
    font-size: 1.9rem;
    line-height: calc(1.9rem * 1.5);
}

label {
    font-size: 1.5rem;
    line-height: calc(1.5rem * 1.5);
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.gold-text {
    color: $accent;
    // font-weight: bold;
}

.top {
    &-gold {
        background: #c28e0e;
        height: 35px;
    }
    &-black {
        background: #222;
        height: 100px;
    }
}

%container {
    max-width: $container-width;
    margin: 0 auto;
    padding: 40px 0;

    @media screen and (max-width: #{$container-width}) {
        width: 95vw;
    }
}

.masthead {
    &-container {
        @extend %container;
        height: calc(#{$container-width} * 7 / 16);
        overflow: hidden;
    }
    &-img {
        width: 100%;
        height: 100%;
        background: url('../../images/bg.jpg');
        background-size: cover;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        @media screen and (max-width: #{$container-width}) {
            // TODO change bg
        }
    }
    &-title {
        margin: 0;
        padding: 0;
        padding-left: 10px;
        width: 100%;

        text-align: left;
        color: white;
        font-weight: 400;
        
        background: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0.8), rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 1));
    }
}

.purpose {
    &-container {
        @extend %container;
    }
}

.survey {
    background: white;
    
    &-container {
        @extend %container;
    }
    &-link {
        cursor: pointer;
        background: $primary;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        display: block;
        width: 150px;
        height: 150px;
        margin-bottom: 40px;

        color: white;
        font-size: 2rem;

        border: none;
        border-radius: 100px;
        
        &:hover, &:focus {
            transition: 0.3s;
            background: $accent;
            color: $primary;
        }

        &:active {
            background: $primary;
        }

        @media screen and (max-width: #{$container-width}) {
            width: 110px;
            height: 110px;
        }
    }
}

.message {
    background: $primary;
    color: white;
    
    &-container {
        @extend %container;
    }

    &-title {
        font-size: 1.6rem;
    }
}

.resources {
    &-container {
        @extend %container;
    }
    &-content {
        text-align: center;
        padding: 0 0 20px;;
        margin: 0;
    }
    &-sections {
        display: block;

        &-section {

            border-radius: 3px;
            &-head {
                height: 100px;
                color: #0081af;
            }
            &-p {
                color: white;
                padding: 20px 20px;
            }
            &-a {
                color: $accent;
                text-decoration: none;
            }
            &-a:hover, &-a:focus {
                text-decoration: underline;
                color: $accent;
            }
        }
    }
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
  
    font-weight: bold;
    text-transform: uppercase;
  
    color: $primary;
    cursor: pointer;
  
    transition: all 0.25s ease-out;

    margin-bottom: 10px;
}
  
.lbl-toggle:hover {
    color: $accent;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    background: $primary;
    border-radius: 5px;

    margin-bottom: 25px;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 1000px;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
  
.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.footer {
    height: 100px;
    background: #222;
}