@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 21px;

    background: url("../../images/cubes.png");
    background-repeat: repeat;
}

main {
    // width: 950px;
    // margin: 0 auto;
}

p {
    font-size: 1.7rem;
    line-height: calc(1.7rem * 1.5);
}

h1 {
    font-size: 4rem;
    line-height: calc(4rem * 1.5);
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    line-height: calc(2.5rem * 1.5)
}

h3 {
    font-size: 2rem;
    line-height: calc(2rem * 1.5)
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.gold-text {
    color: #c28e0e;
    // font-weight: bold;
}

.top {
    &-gold {
        background: #c28e0e;
        height: 35px;
    }
    &-black {
        background: #222;
        height: 100px;
    }
}

.section {
    &-container {
        width: 950px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }
    
    &-content {
        width: 70%;
    }
}

.purpose {
    padding: 20px 0;
    &-container {
        .section-content {
            width: 100%;
            text-align: center;
        }
    }
}

.survey {
    background: #fff;
    padding: 20px 0;

    &-container {
        flex-direction: column;
        .section-content {
            text-align: center;
        }
    }
    &-link {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-btn {
            background: #136f63;
            // color: white;
            color: white;
            font-size: 2rem;
            // font-weight: 500;
            border: none;
            border-radius: 100px;
            width: 150px;
            height: 150px;
            cursor: pointer;

            &:hover, &:focus {
                transition: 0.3s;
                background: #0c4c44;
                color: white;
            }

            &:active {
                background: #072c27;
            }
        }
    }
}

.message {
    background: #0c4c44;
    color: #eee;
    
    &-container {
        padding: 20px 40px;
        flex-direction: column;
    }

    .section-content {
        width: 100%;
    }
}

.resources {
    padding: 20px 50px;
    min-height: 400px;
    &-content {
        text-align: center;
    }
    &-sections {
        display: flex;
        justify-content: space-between;
        align-content: center;

        &-section {
            // background: #222;
            // color: #eee;
            margin: 5px;
            width: 30%;
            // padding: 5px 15px;
            // border: solid 1px black;
            border-radius: 3px;
            &-head {
                height: 100px;
                text-align: center;
                color: #0081af;
            }
            &-p {
                font-size: 1.5rem;
                line-height: calc(1.5rem * 1.5);
                text-align: center;
                color: #222;
            }
        }
    }
}

input[type='checkbox'] {
    display: none;
}

.lbl-toggle {
    display: block;
  
    font-weight: bold;
    font-size: 1.4rem;
    line-height: calc(1.4rem * 1.5);
    text-transform: uppercase;
    text-align: center;
  
    padding: 1rem;
    color: #0081af;
    cursor: pointer;
  
    border-radius: 7px;
    transition: all 0.25s ease-out;

    min-height: 80px;
}
  
.lbl-toggle:hover {
    color: #c28e0e;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
  
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
  
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
  
    transition: transform .2s ease-out;
}

.collapsible-content .content-inner {
    background: #eee;
    padding: .5rem 1rem;
}

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
  
    transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 1000px;
}

.toggle:checked + .lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}
  
.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.footer {
    height: 100px;
    background: #222;
}